.block {
	border: 1px solid #bbb;
	padding: 2.5rem 3rem;
	-webkit-font-smoothing: antialiased;
	margin: 0.8rem .2rem;
	border: 1px solid #E1E1E1;
	border-radius: 4px
}

.intro h1 {
	margin-bottom: -0.4rem;
}

form .searchBar {
	width: 80%;
	margin-right: .4rem;
}

form .searchSubmit {
	width: 19%;
	text-align: center;
	padding: 0;
}

.intro ul {
	list-style: none;
}

.intro ul li a {
	text-decoration: none;
}

.intro ul li a.active {
	text-decoration: underline;
}

#main {
	margin-top: 1rem;
}

.noBottomMargin {
	margin-top: 1rem;
	margin-bottom: 0;
}

.block i.u-pull-right {
	font-size: 1.3rem;
	margin-left: 1.2rem;
	border: 1px solid #bbb;
	padding: 0.1rem 0.7rem;
	-webkit-font-smoothing: antialiased;
	border: 1px solid #E1E1E1;
	border-radius: 4px
}

.block i.u-pull-right:hover {
	color: #33C3F0;
	cursor: pointer;
}

.loading:hover {
	border: 1px solid #bbb;
}

.loading i {
	font-size: 18px;
	-webkit-animation-name: rotate; 
	-webkit-animation-duration: 1s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate; 
	-moz-animation-duration: 1s; 
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: rotate; 
	animation-duration: 1s; 
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

input.third, button.third {
	width: 31%;
	margin-right: 13px;
}

.block form, .block input, .block button {
	margin-bottom: 0;
}

#nav {
	position: fixed;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#nav.hidden {
	z-index: 20;
	overflow: hidden;
}

#nav.slide-left {
	top: 0;
	width: 300px;
	height: 100%;
	left: -300px
}	

#nav.slide-left.show {
	left: 0;
	padding-left: 60px;
}

#login {
	margin-top: 20%;
}

.u-text-center {
	text-align: center;
}
